{% extends 'admin/base.html.twig' %}

{% block title %}Applications for {{ job.title }}{% endblock %}

{% block admin_body %}
    <div class="container-xl">

        <h1 class="app-page-title">Applications</h1>

        <div class="row">
            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <h3>{{ job.title }}</h3>
                        <p>{{ job.state }}, {{ job.city }}</p>
                        <p>{{ job.expirationDate ? job.expirationDate|date('m/d/Y H:i:s') : '' }}</p>
                        <p>{{ job.status }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        Applications not available for this job yet.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
