{% extends 'provider/base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block provider_body %}
<style>
/* Override container-xl to shift content left and remove left spacing */
.container-xl {
    margin-left: 0 !important;
    padding-left: 0 !important;
    max-width: 100% !important;
    transform: translateX(-80px) !important; /* Shift entire container to the left */
}

/* Override app-content padding from base template to remove left spacing */
.app-content {
    padding-left: 0 !important;
}
</style>
    <div class="container-xl">

        <h1 class="app-page-title">Notifications</h1>

        <button class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#notificationModal">
            Edit Notification Preferences
        </button>

        <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="notificationModalLabel">Notification Preferences</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {# Toggle All Switch #}
                        <div class="form-check form-switch mb-4">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="toggle-all">
                            <label class="form-check-label fw-bold" for="toggle-all">Toggle All Notifications</label>
                        </div>

                        {# Individual Toggles #}
                        {% for key, label in notificationOptions %}
                            <div class="form-check form-switch mb-3">
                                <input
                                        class="form-check-input preference-toggle"
                                        type="checkbox"
                                        id="{{ key }}"
                                        data-key="{{ key }}"
                                        {% if (provider.notificationPreferences[key] ?? false) %}checked{% endif %}>
                                <label class="form-check-label" for="{{ key }}">{{ label }}</label>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        <div class="row g-4 mb-4">
            <div class="col-12">
                {% for notification in notifications %}
                    {% if notification.notificationType in ['job_applied', 'bookmark_created', 'job_matching'] %}
                        <a href="{{ path('app_provider_jobs_detail', {'id': notification.extraData.job}) }}">
                    {% elseif notification.notificationType in ['provider_in_review', 'provider_shortlist', 'provider_hired', 'review_request', 'provider_offered'] %}
                        <a href="{{ path('app_provider_jobs_application_detail', {'id': notification.extraData.application}) }}">
                    {% elseif notification.notificationType in ['provider_reviewed'] %}
                        <a href="{{ path('app_provider_reviews') }}">
                    {% elseif notification.notificationType in ['message_received'] %}
                        <a href="{{ path('app_provider_messages') }}">
                    {% elseif notification.notificationType in ['interview_scheduled'] %}
                        <a href="{{ path('app_provider_jobs_applications') }}?status=interview">
                    {% else %}
                        <a href="#">
                    {% endif %}
                    <div class="app-card app-card-notification shadow-sm mb-4">
                        <div class="app-card-header px-4 py-3">
                            <div class="row g-3 align-items-center">
                                <div class="col-12 col-lg-auto text-center text-lg-start">
                                    <div class="app-icon-holder">
                                        {% include 'provider/partials/_notification_icon.html.twig' with {'notificationType': notification.notificationType} %}
                                    </div>
                                </div>

                                <div class="col-12 col-lg-auto text-center text-lg-start">
                                    <h4 class="notification-title mb-1">{{ notification.notificationType | replace({'_': ' '}) | title }}</h4>
                                    {{ notification.createdAt|time_diff }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="notification-content">
                                {{ notification.message }}
                            </div>
                        </div>
                    </div>
                    </a>
                {% else %}
                    <p>Notifications not available at the moment.</p>
                {% endfor %}
            </div>

            {% if notifications|length > 0 %}
                <div class="col-12">
                    {{ pagerfanta(notifications, 'twitter_bootstrap5') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const preferenceToggles = document.querySelectorAll('.preference-toggle');
            const toggleAll = document.getElementById('toggle-all');

            // Function to update all preferences
            function updateAllPreferences(state) {
                preferenceToggles.forEach(toggle => {
                    toggle.checked = state;
                });

                // Send AJAX to server
                fetch('{{ path('app_provider_notification_update_preferences_all') }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRF-TOKEN': '{{ csrf_token('update_notification') }}'
                    },
                    body: JSON.stringify({
                        value: state ? 1 : 0
                    })
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data.message);
                    })
                    .catch(error => {
                        console.error('Error updating all preferences:', error);
                    });
            }

            // Event: Toggle All switch
            toggleAll.addEventListener('change', function () {
                const isEnabled = this.checked;
                updateAllPreferences(isEnabled);
            });

            // Event: Each individual toggle (for single updates)
            preferenceToggles.forEach(function(toggle) {
                toggle.addEventListener('change', function () {
                    const preferenceKey = this.getAttribute('data-key');
                    const isEnabled = this.checked ? 1 : 0;

                    fetch('{{ path('app_provider_notification_update_preferences_single') }}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRF-TOKEN': '{{ csrf_token('update_notification') }}'
                        },
                        body: JSON.stringify({
                            key: preferenceKey,
                            value: isEnabled
                        })
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data.message);
                        })
                        .catch(error => {
                            console.error('There was a problem updating the preference:', error);
                        });
                });
            });
        });
    </script>
{% endblock %}