{{ form_start(form, {'attr': {'id': 'addLicenseForm', 'class': 'license-form needs-validation', 'novalidate': 'novalidate'}}) }}
<div class="row">
    <div class="col">
        {{ form_row(form.name, {'attr': {'class': 'form-control mb-2'}}) }}
        {{ form_row(form.number, {'attr': {'class': 'form-control mb-2'}}) }}
    </div>

    <div class="col">
        {{ form_row(form.issueDate, {'attr': {'class': 'form-control mb-2 js-datepicker'}}) }}
        {{ form_row(form.expirationDate, {'attr': {'class': 'form-control mb-2 js-datepicker'}}) }}
    </div>
</div>

<br/>
<button type="submit" class="btn btn-primary">Save</button>
{#<button type="submit" name="save_continue" data-redirect-url="{{ path('app_provider_experience_index') }}" class="btn btn-primary">Save and Continue</button>#}
{{ form_end(form) }}