{% extends 'provider/base.html.twig' %}

{% block title %}Education{% endblock %}

{% block provider_body %}
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Education</h3>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>School</th>
                        <td>{{ education.school }}</td>
                    </tr>
                    <tr>
                        <th>Degree</th>
                        <td>{{ education.degree }}</td>
                    </tr>
                    <tr>
                        <th>Field Of Study</th>
                        <td>{{ education.fieldOfStudy }}</td>
                    </tr>
                    <tr>
                        <th>Start Date</th>
                        <td>{{ education.startDate ? education.startDate|date('m/d/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>End Date</th>
                        <td>{{ education.endDate ? education.endDate|date('m/d/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Grade</th>
                        <td>{{ education.grade }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ education.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {{ include('provider/education/_delete_form.html.twig') }}
{% endblock %}
