{% extends 'employer/base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block employer_body %}
    <div class="container-xl">
        <h1 class="app-page-title">Change Password</h1>

        <hr class="mb-4">

        <div class="col-12 col-lg-6">

            {{ form_start(form) }}

            <div class="mb-3">
                {{ form_label(form.current_password, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.current_password, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.current_password) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.new_password.first, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.new_password.first, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.new_password.first) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.new_password.second, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.new_password.second, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.new_password.second) }}
            </div>

            <button class="btn btn-primary mt-2" type="submit">Change Password</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
