{% extends 'employer/base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block employer_body %}

    <div class="container-xl">
        <h1 class="app-page-title">Profile</h1>

        <hr class="mb-4">

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="mb-3">
                {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.name, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>

{#            <div class="mb-3">#}
{#                {{ form_label(form.gender, null, {'label_attr': {'class': 'form-label'}}) }}#}
{#                {{ form_widget(form.gender, {'attr':{'class': 'form-control'}}) }}#}
{#                {{ form_errors(form.gender) }}#}
{#            </div>#}

            <div class="mb-3">
                {{ form_label(form.phone1, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.phone1, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.phone1) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.phone2, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.phone2, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.phone2) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.profilePictureFilename, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.profilePictureFilename, {'attr':{'class': 'file'}}) }}
                {{ form_errors(form.profilePictureFilename) }}
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group mb-3">
                <label class="form-label">Company Name</label>
                <input type="text" name="companyName" value="{{ employer.companyName }}" class="form-control">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Contact Person Name</label>
                <input type="text" name="contactPersonName" value="{{ employer.contactPersonName }}" class="form-control">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Email</label>
                <input type="text" name="contactEmail" value="{{ employer.contactEmail }}" class="form-control">
            </div>
        </div>

        </div>

        <div class="col-12">
            <button class="btn btn-primary mt-2">{{ button_label|default('Save') }}</button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}