{{ form_start(form, {'attr': {'id': 'addInsuranceForm', 'class': 'work-preferences-form needs-validation', 'novalidate': 'novalidate'}}) }}
<div class="row">
    <div class="col-12">
        {{ form_row(form.carrier, {'attr': {'class': 'form-control mb-2'}}) }}
    </div>
    <div class="col">
        {{ form_row(form.policyNumber, {'attr': {'class': 'form-control mb-2'}}) }}
        {{ form_row(form.effectiveDate, {'attr': {'class': 'form-control mb-2 js-datepicker'}}) }}
        {{ form_row(form.expirationDate, {'attr': {'class': 'form-control mb-2 js-datepicker'}}) }}
    </div>

    <div class="col">
        {{ form_row(form.amount, {'attr': {'class': 'form-control mb-2'}}) }}
        {{ form_row(form.state, {'attr': {'class': 'form-control mb-2'}}) }}
        {{ form_row(form.city, {'attr': {'class': 'form-control mb-2'}}) }}
    </div>
</div>

<br/>
<button type="submit" class="btn btn-primary">Save</button>
{#<button type="submit" name="save_continue" data-redirect-url="{{ path('app_provider_health_assessment') }}" class="btn btn-primary">Save and Continue</button>#}
{{ form_end(form) }}