{% extends 'provider/base.html.twig' %}

{% block title %}Insurance{% endblock %}

{% block provider_body %}
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Insurance</h3>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>School</th>
                        <td>{{ insurance.school }}</td>
                    </tr>
                    <tr>
                        <th>Degree</th>
                        <td>{{ insurance.degree }}</td>
                    </tr>
                    <tr>
                        <th>Field Of Study</th>
                        <td>{{ insurance.fieldOfStudy }}</td>
                    </tr>
                    <tr>
                        <th>Start Date</th>
                        <td>{{ insurance.startDate ? insurance.startDate|date('m/d/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>End Date</th>
                        <td>{{ insurance.endDate ? insurance.endDate|date('m/d/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Grade</th>
                        <td>{{ insurance.grade }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ insurance.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {{ include('provider/insurance/_delete_form.html.twig') }}
{% endblock %}
