{% extends 'employer/base.html.twig' %}

{% block title %}Paid Invoices{% endblock %}

{% block employer_body %}
    <div class="container-xl">

        <h1 class="app-page-title">Paid Invoices</h1>

        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Job</th>
                    <th>Provider</th>
                    <th>Particular</th>
                    <th>Amount($)</th>
                    <th>CreatedAt</th>
{#                    <th>Action</th>#}
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>
                            {% if invoice.status == 'paid' %}
                                <a href="{{ path('app_employer_invoice_show', {'id': invoice.id}) }}">{{ invoice.invoiceNumber }}</a>
                            {% elseif invoice.status == 'pending' %}
                                <a href="{{ path('app_employer_invoice_pay', {'id': invoice.id}) }}">{{ invoice.invoiceNumber }}</a>
                            {% endif %}
                        </td>
                        <td>{{ invoice.job }}</td>
                        <td>{{ invoice.provider }}</td>
                        <td>{{ invoice.particular }}</td>
                        <td>{{ invoice.amount|number_format }}</td>
                        <td>{{ invoice.createdAt ? invoice.createdAt|date('m/d/Y') : '' }}</td>
{#                        <td class="text-nowrap">#}
{#                            <a href="{{ path('app_employer_invoice_show', {'id': invoice.id}) }}" title="Details"><img src="{{ asset('assets/icons/list-search.png') }}" class="icon-image" /></a>#}
{#                        </td>#}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
