{% extends 'base.html.twig' %}

{% block title %}Employers{% endblock %}

{% block body %}

    <section class="section-process section">
        <div class="lm-container">
            <div class="text-heading-wrap white text-center">
                <!-- <span> Working Process </span> -->
                <h2 class="text-heading">
                    Freelance for Employers
                </h2>
            </div>
            <div class="process-items-carousel owl-carousel ">
                <div data-dot="<button>1</button>" class="process-block">
{#                    <span class="counter">1</span>#}
                    <h4>Sign Up</h4>
                    <p>
                        free of cost and with no hassle.
                    </p>
                </div>

                <div data-dot="<button>2</button>" class="process-block">
{#                    <span class="counter">2</span>#}
                    <h4>Post</h4>
                    <p>
                        the jobs for free or utilize the recruiters.
                    </p>
                </div>

                <div data-dot="<button>3</button>" class="process-block">
{#                    <span class="counter">3</span>#}
                    <h4>Choose</h4>
                    <p>
                        recruiters and the candidates.
                    </p>
                </div>

                <div data-dot="<button>4</button>" class="process-block">
{#                    <span class="counter">4</span>#}
                    <h4>Communicate</h4>
                    <p>
                        in your dashboard.
                    </p>
                </div>
                <div data-dot="<button>5</button>" class="process-block">
{#                    <span class="counter">5</span>#}
                    <h4>Review</h4>
                    <p>
                        the documents at our secure storage.
                    </p>
                </div>
                <div data-dot="<button>6</button>" class="process-block">
{#                    <span class="counter">6</span>#}
                    <h4>Hire</h4>
                    <p>
                        the contract signed in the portal.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section box-our-track">
        <div class="lm-container">
            <div class="row align-items-center our-track-row">
                <div class="col-lg-7 text-center mb-40">
                    <div class="feature-image-wrapper">
                        <img src="{{ asset('assets/frontend/img/img-track.png') }}" alt="Dashboard" id="img-dashboard" class="feature-image active-image">
                        <img src="{{ asset('assets/frontend/img/document-expiry.png') }}" alt="Document Expiry" id="img-notifications" class="feature-image">
                        <img src="{{ asset('assets/frontend/img/automated-workflow.png') }}" alt="Automated Workflow" id="img-workflow" class="feature-image">
                        <img src="{{ asset('assets/frontend/img/messaging-video.png') }}" alt="Messaging/Video Services" id="img-messaging" class="feature-image">
                        <img src="{{ asset('assets/frontend/img/progress-notifications.png') }}" alt="Progress Notifications" id="img-progress" class="feature-image">
                        <img src="{{ asset('assets/frontend/img/document-exchange.png') }}" alt="Document Exchange" id="img-exchange" class="feature-image">
                        <img src="{{ asset('assets/frontend/img/cashback.png') }}" alt="Cashback Portal" id="img-cashback" class="feature-image">
                    </div>
                </div>
                <div class="col-lg-5 px-3">
                    <div class="text-heading-wrap text-left">
                        <h2 class="text-heading">
                            Platform Features
                        </h2>
                    </div>
                    <div class="card-feature-2-wrapper">
                        <div class="card-feature-2" data-feature-target="dashboard">
                            <div class="card-info">
                                <h3 class="text-22-bold">Intuitive Dashboard</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="notifications">
                            <div class="card-info">
                                <h3 class="text-22-bold">Seamless Candidate Management</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="workflow">
                            <div class="card-info">
                                <h3 class="text-22-bold">Automated Workflow Updates</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="messaging">
                            <div class="card-info">
                                <h3 class="text-22-bold">Inbuilt Messaging/Video Services</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="progress">
                            <div class="card-info">
                                <h3 class="text-22-bold">Real Time Progress Notifications</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="exchange">
                            <div class="card-info">
                                <h3 class="text-22-bold">Document Exchange Portal</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="cashback">
                            <div class="card-info">
                                <h3 class="text-22-bold">Online Invoice Portal</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <p class="cta-text">
                    <a href="{{ path('app_jobs') }}" class="th-btn">
                        Search Jobs
                    </a>
                </p>
            </div>
        </div>
    </section>

    <section class="section box-our-features employers">
        <div class="lm-container">
            <div class="text-heading-wrap text-center">
                <h2 class="text-heading">
                    Benefits for Employers
                </h2>
            </div>
            <div class="row g-4" style="min-height:220px;">
                <div class="col-lg-4 col-sm-6">
                    <div class="card-feature">
                        <div class="card-header-flex">
                            <div class="card-icon-svg">
                                <svg height="48px" width="48px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                    viewBox="0 0 292.633 292.633" xml:space="preserve">
                                <g>
                                    <g>
                                        <circle cx="114.506" cy="136.942" r="60.938"/>
                                        <path d="M231.694,169.755c-9.778,0-18.994,2.372-27.187,6.483c5.414-12.314,8.25-25.594,8.25-39.295
                                            c0-21.225-6.82-40.852-18.291-56.944l6.122-6.122l8.288,8.287l19.884-19.884l-39.773-39.773L169.098,42.39l8.288,8.287l-7.2,6.122
                                            c-11.845-8.447-22.866-14.292-41.616-16.814V29.129h14.063V1.004h-56.25v28.125h9.375v10.856
                                            c-14.063,2.513-27.53,8.325-39.356,16.73l-5.503-6.042l8.559-8.287l-19.75-19.885L0,62.274l19.922,19.884l8.302-8.287l6.023,6.014
                                            c-11.522,16.12-18.37,35.784-18.37,57.056c0,45.412,31.416,84.938,75.192,95.559v2.878h9.375v18.75h4.688v9.375h-9.375v28.125
                                            h121.875v-1.702c4.523,1.073,9.216,1.702,14.063,1.702c33.6,0,60.938-27.337,60.938-60.937S265.294,169.755,231.694,169.755z
                                            M152.006,263.504v-9.375h9.375v9.375H152.006z M147.319,216.63v9.375h-9.375v-9.375H147.319z M156.694,226.005v-9.375h9.375
                                            v9.375H156.694z M156.694,235.38v9.375h-9.375v-9.375H156.694z M166.069,244.755v-9.375h4.927
                                            c0.244,3.202,0.741,6.328,1.467,9.375H166.069z M161.381,207.255v-9.375h9.375v9.375H161.381z M152.006,207.255h-9.375v-9.375
                                            h9.375V207.255z M133.256,207.255h-9.375v-9.375h9.375V207.255z M114.506,207.255h-9.375v-9.375h9.375V207.255z M128.569,216.63
                                            v9.375h-9.375v-9.375H128.569z M137.944,235.38v9.375h-9.375v-9.375H137.944z M142.631,254.13v9.375h-9.375v-9.375L142.631,254.13
                                            L142.631,254.13z M133.256,272.879v9.375h-9.375v-9.375H133.256z M142.631,272.879h9.375v9.375h-9.375V272.879z M161.381,272.879
                                            h9.375v9.375h-9.375V272.879z M170.756,263.504v-9.375h4.702c1.373,3.286,3.066,6.408,4.969,9.375H170.756z M180.131,197.88h0.295
                                            c-0.103,0.159-0.197,0.323-0.295,0.488V197.88z M188.986,35.757l26.517,26.517l-6.628,6.628l-26.517-26.517L188.986,35.757z
                                            M184.017,57.301l9.942,9.942l-5.334,5.334c-3.075-3.548-6.398-6.867-9.942-9.947L184.017,57.301z M95.756,19.754v-9.375h37.5
                                            v9.375h-2.531H97.912H95.756z M105.131,38.504v-9.375h14.063v9.375H105.131z M13.322,62.274l26.517-26.517l6.628,6.628
                                            L19.95,68.903L13.322,62.274z M34.866,67.248l9.942-9.942l5.241,5.241c-3.553,3.07-6.872,6.394-9.952,9.933L34.866,67.248z
                                            M25.256,136.942c0-49.111,39.952-89.063,89.062-89.063s89.063,39.952,89.063,89.063c0,18.605-5.78,36.37-16.641,51.563H95.756
                                            v18.75h-4.688v15.6C52.622,212.477,25.256,177.268,25.256,136.942z M100.444,216.63h9.375v9.375h-9.375V216.63z M119.194,235.38
                                            v9.375h-9.375v-9.375H119.194z M114.506,254.13h9.375v9.375h-9.375V254.13z M105.131,272.879h9.375v9.375h-9.375V272.879z
                                            M180.131,282.254v-9.375h7.692c3.441,3.581,7.322,6.717,11.545,9.375H180.131z M231.694,282.254
                                            c-28.43,0-51.563-23.133-51.563-51.562s23.133-51.563,51.563-51.563s51.563,23.133,51.563,51.563S260.123,282.254,231.694,282.254
                                            z"/>
                                        <path d="M243.412,193.192h-7.031v-9.375h-9.375v9.375h-7.031c-11.63,0-21.094,9.464-21.094,21.094
                                            s9.464,21.094,21.094,21.094h23.438c6.459,0,11.719,5.255,11.719,11.719c0,6.464-5.259,11.719-11.719,11.719h-23.438
                                            c-6.459,0-11.719-5.255-11.719-11.719v-2.344h-9.375v2.344c0,11.63,9.464,21.094,21.094,21.094h7.031v9.375h9.375v-9.375h7.031
                                            c11.63,0,21.094-9.464,21.094-21.094s-9.464-21.094-21.094-21.094h-23.438c-6.459,0-11.719-5.255-11.719-11.719
                                            c0-6.464,5.259-11.719,11.719-11.719h23.438c6.459,0,11.719,5.255,11.719,11.719v2.344h9.375v-2.344
                                            C264.506,202.656,255.042,193.192,243.412,193.192z"/>
                                        <path d="M100.256,136.942c0,7.753,6.309,14.063,14.063,14.063s14.063-6.309,14.063-14.063
                                            c0-7.753-6.309-14.063-14.063-14.063c-2.02,0-3.933,0.445-5.667,1.214L75.637,86.954l-7.008,6.225l33.23,37.383
                                            C100.87,132.488,100.256,134.635,100.256,136.942z M119.006,136.942c0,2.587-2.105,4.688-4.688,4.688s-4.688-2.1-4.688-4.688
                                            s2.105-4.688,4.688-4.688C116.902,132.255,119.006,134.354,119.006,136.942z"/>
                                    </g>
                                </g>
                                </svg>
                            </div>
                            <h6>Maximized Savings</h6>
                        </div>
                        <div class="card-content-wrap">
                            <p>
                                We offer maximum value by keeping service fees minimal, allowing you to save costs.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="card-feature">
                        <div class="card-header-flex">
                            <div class="card-icon-svg">
                                <svg fill="currentcolor" width="48px" height="48px" viewBox="0 0 24 24" id="quality-5" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><path id="secondary" d="M21.94,17.89a1,1,0,0,1-.65.63l-2.71.8-1.69,2.27a1,1,0,0,1-.8.41h0a1,1,0,0,1-.81-.43l-2.88-4.11a1,1,0,0,1-.1-1,1,1,0,0,1,.75-.6,5.94,5.94,0,0,0,4.19-3,1,1,0,0,1,.82-.51,1,1,0,0,1,.87.43L21.82,17A1,1,0,0,1,21.94,17.89Zm-11-2a5.94,5.94,0,0,1-4.19-3,1,1,0,0,0-1.69-.08L2.18,17a1,1,0,0,0,.54,1.53l2.7.8,1.69,2.27a1,1,0,0,0,.8.41h0a1,1,0,0,0,.81-.43l2.88-4.11a1,1,0,0,0,.1-1A1,1,0,0,0,11,15.9Z"></path><circle id="primary" cx="12" cy="10" r="8"></circle><path id="secondary-2" data-name="secondary" d="M11.33,12.5h0a1,1,0,0,1-.74-.34l-1.34-1.5a1,1,0,1,1,1.5-1.32l.58.65,1.92-2.15a1,1,0,0,1,1.5,1.32l-2.67,3A1,1,0,0,1,11.33,12.5Z"></path></svg>
                            </div>
                            <h6>Best Quality Hire</h6>
                        </div>
                        <div class="card-content-wrap">
                            <p>
                                Access and extensive pool of verified providers and recruiters.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="card-feature">
                        <div class="card-header-flex">
                            <div class="card-icon-svg">
                                <svg version="1.1" id="buddhism" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="48px" height="48px" viewBox="0 0 256 256"
                                    xml:space="preserve">
                                <style type="text/css">
                                </style>
                                <path class="st0" d="M71.034,256.465c-2.302,0-4.495-0.117-6.369-0.227c-8.569-0.504-15.617-4.424-19.849-11.035
                                    c-4.659-7.281-5.226-16.826-1.555-26.188c6.794-17.356,12.62-35.619,18.253-53.281c1.438-4.51,2.876-9.021,4.332-13.521
                                    c0.846-2.635,1.273-6.05,1.264-10.13c-0.101-26.331,12.222-44.099,35.737-51.703c-0.233-0.378-0.444-0.771-0.631-1.179
                                    c-14.678-32.08-6.553-61.514,22.876-82.879c1.887-1.37,4.106-2.053,6.323-2.053c2.3,0,4.599,0.735,6.522,2.202
                                    c14.037,10.696,23.131,23.141,27.025,36.989c4.063,14.451,2.396,30.076-4.955,46.44c-0.115,0.259-0.24,0.513-0.379,0.76
                                    c26.906,7.901,33.535,30.45,36.352,51.82c2.088,15.852,6.291,31.322,10.742,47.703c1.801,6.623,3.657,13.465,5.35,20.283
                                    c6.328,5.813,9.945,12.801,10.256,19.883c0.273,6.303-2.18,12.342-6.912,17.006c-5.967,5.883-14.542,6.789-21.434,7.521
                                    c-2.267,0.24-4.403,0.469-6.155,0.82c-0.999,0.195-1.976,0.289-2.966,0.289c-2.687,0-5.039-0.682-6.576-1.192
                                    c-15.387-5.094-31.15-7.68-46.838-7.68c-15.691,0-31.856,2.587-48.044,7.688C79.806,255.938,75.877,256.465,71.034,256.465z
                                    M95.476,187.232c0.955-1.021,1.684-2.104,2.185-3.237c0.776-1.761,1.267-4.25,0.98-7.747
                                    C97.587,179.904,96.533,183.563,95.476,187.232z M163.494,175.662c-0.25,2.852,0.027,5.287,0.84,7.302
                                    c0.501,1.245,1.268,2.445,2.297,3.599C166.631,186.563,164.252,178.296,163.494,175.662z"/>
                                <path class="st1" d="M112.004,84.725c-12.733-27.83-5.768-51.412,19.412-69.692c23.947,18.246,31.634,41.851,18.777,70.457
                                    c-2.207,0.965-5.988,1.597-7.811,3.827c-0.876,1.076,1.453,5.535,3.229,7.753c1.242,1.553,3.904,2.307,6.066,2.729
                                    c24.413,4.748,30.682,21.686,33.631,44.092c3.105,23.592,10.76,46.598,16.482,69.846c0.322,1.287,0.832,2.818,1.773,3.597
                                    c7.742,6.397,11.215,15.541,4.293,22.36c-4.67,4.604-14.574,3.929-22.162,5.457c-1.254,0.244-2.752-0.146-4.016-0.563
                                    c-33.843-11.203-67.619-10.729-101.517-0.044c-4.614,1.452-9.938,1.242-14.874,0.953c-12.079-0.71-16.328-11.547-12.013-22.553
                                    c8.641-22.07,15.507-44.846,22.806-67.418c1.364-4.248,1.797-8.974,1.786-13.467c-0.089-23.049,10.305-37.377,33.232-42.813
                                    c3.604-0.854,6.112-6.289,9.129-9.606C117.433,88.401,115.554,86.844,112.004,84.725z M78.728,206.494
                                    c33.931-7.786,39.399-26.844,18.424-63.945C90.84,164.455,85.028,184.609,78.728,206.494z M183.748,207.139
                                    c-6.411-22.307-12.257-42.582-18.566-64.568C144.116,178.82,149.118,197.223,183.748,207.139z"/>
                                </svg>
                            </div>
                            <h6>Peace Of Mind</h6>
                        </div>
                        <div class="card-content-wrap">
                            <p>
                                Our platform gives full control with direct communication to exchange documents and providing feedback.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center" style="margin-top:80px">
                <p class="cta-text">
                    <a href="#" class="th-btn">
                        Request a Demo
                    </a>
                </p>
            </div>
        </div>
    </section>

    <section class="section section-faq">
        <div class="lm-container">
            <div class="section-header">
                <h2 class="text-heading">Frequently Asked Questions</h2>
            </div>
            <div class="row">
                <div class="col-lg-5 mb-4">
                    <div class="text-heading-wrap">
                        <span> Frequently Asked Questions </span>
                        <h2 class="text-heading">
                            Do you have any <br> questions?
                        </h2>
                        <p class="cta-text">
                            If you have any more questions, please
                            <a href="{{ path('app_contact') }}" class="text-underline" style="font-weight:600;text-decoration:underline">Contact Us</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="accordion-wrapper">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                What is a recruiter mode job posting and how does it work?
                            </h2>
                            <div class="accordion-body">
                                For jobs that are recruiter mode, recruiters can
                                apply to those jobs, out of which a recruiter can
                                be selected by the employer for each job. The applications are then handled
                                by the recruiter to the employer until the hire is
                                finalized.
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                How do I decide what type of job posting to do?
                            </h2>
                            <div class="accordion-body">
                                There are three categories out of which you can select. If
                                you would like to post jobs for free, you can do so. However, if
                                you are in urgent need or want more thorough selection process and more
                                attention to your jobs, you can select the featured jobs or recruiter mode
                                jobs.
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                How is it different from traditional locum agencies?
                            </h2>

                            <div class="accordion-body">
                                Our strategy is to minimize the cost of hiring by a greater margin by providing online
                                support and minimizing the unnecessary costs by utilizing a lean model.
                                Through this process, we help connect the providers to the employers directly at a
                                minimum cost.
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                How will it help when I work directly with the candidates without utilizing recruiters?
                            </h2>
                            <div class="accordion-body">
                                Candidates will be receiving a cashback for each hire up
                                to equal parts of the service fee which is a nominal fee.
                                This is to motivate the candidates to get on board
                                and to help the recruitment process easier while
                                saving money for both the provider and the employer.
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingten">
                                Can I post permanent jobs?
                            </h2>
                            <div class="accordion-body">
                                We provide a greater pool
                                of physicians and we are in
                                process of building an informative
                                website with the help of our lounge section.
                                Posting permanent jobs will help it get highlighted
                                to a large community of physicians who folk to our
                                websites for reasons not only related to job search
                                but also to network.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="video_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-contents">
                <div class="quick-video">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/XHOmBV4js_E?si=Lha95c_abxfd9lnG"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const featureCards = document.querySelectorAll('.card-feature-2');
    const featureImages = document.querySelectorAll('.feature-image');

    featureCards.forEach(card => {
        card.addEventListener('mouseenter', function() {
            // Remove active classes from all images and h3s
            featureImages.forEach(img => img.classList.remove('active-image'));
            featureCards.forEach(h3 => h3.classList.remove('active-h3'));

            // Get the target image ID from the data attribute
            const targetId = this.getAttribute('data-feature-target');
            const targetImage = document.getElementById(`img-${targetId}`);
            
            // Add active class to the hovered h3 and the corresponding image
            if (targetImage) {
                targetImage.classList.add('active-image');
                this.classList.add('active-h3');
            }
        });
    });
});
</script>

{% endblock %}