{% extends 'base.html.twig' %}

{% block title %}Providers{% endblock %}

{% block body %}

    <section class="section-process section">
        <div class="lm-container">
            <div class="text-heading-wrap white text-center">
                <!-- <span> Working Process </span> -->
                <h2 class="text-heading">
                    Freelance for Provider
                </h2>
            </div>
            <div class="process-items-carousel owl-carousel ">
                <div data-dot="<button>1</button>" class="process-block">
{#                    <span class="counter">1</span>#}
                    <h4>Sign Up</h4>
                    <p>
                        free of cost and with no hassle.
                    </p>
                </div>

                <div data-dot="<button>2</button>" class="process-block">
{#                    <span class="counter">2</span>#}
                    <h4>Search</h4>
                    <p>
                        jobs based on your preferences.
                    </p>
                </div>

                <div data-dot="<button>3</button>" class="process-block">
{#                    <span class="counter">3</span>#}
                    <h4>Apply</h4>
                    <p>
                        with your CV with a click.
                    </p>
                </div>

                <div data-dot="<button>4</button>" class="process-block">
{#                   <span class="counter">4</span>#}
                    <h4>Communicate</h4>
                    <p>
                       in your dashboard.
                    </p>
                </div>

                <div data-dot="<button>5</button>" class="process-block">
{#                    <span class="counter">5</span>#}
                    <h4>Upload</h4>
                    <p>
                        documents at our secure storage.
                    </p>
                </div>

                <div data-dot="<button>6</button>" class="process-block">
{#                    <span class="counter">6</span>#}
                    <h4>Sign</h4>
                    <p>
                        the contract in the portal system.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section box-our-track">
        <div class="lm-container">
            <div class="row align-items-center our-track-row">
                <div class="col-lg-7 text-center mb-40">
                    <div class="feature-image-wrapper">
                        <img src="{{ asset('assets/frontend/img/img-track.png') }}" alt="Dashboard" id="img-dashboard" class="feature-image active-image">
                        <img src="{{ asset('assets/frontend/img/document-expiry.png') }}" alt="Document Expiry" id="img-notifications" class="feature-image">
                        <img src="{{ asset('assets/frontend/img/automated-workflow.png') }}" alt="Automated Workflow" id="img-workflow" class="feature-image">
                        <img src="{{ asset('assets/frontend/img/messaging-video.png') }}" alt="Messaging/Video Services" id="img-messaging" class="feature-image">
                        <img src="{{ asset('assets/frontend/img/progress-notifications.png') }}" alt="Progress Notifications" id="img-progress" class="feature-image">
                        <img src="{{ asset('assets/frontend/img/document-exchange.png') }}" alt="Document Exchange" id="img-exchange" class="feature-image">
                        <img src="{{ asset('assets/frontend/img/cashback.png') }}" alt="Cashback Portal" id="img-cashback" class="feature-image">
                    </div>
                </div>
                <div class="col-lg-5 px-3">
                    <div class="text-heading-wrap text-left">
                        <h2 class="text-heading">
                            Platform Features
                        </h2>
                    </div>
                    <div class="card-feature-2-wrapper">
                        <div class="card-feature-2" data-feature-target="dashboard">
                            <div class="card-info">
                                <h3 class="text-22-bold">Intuitive Dashboard</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="notifications">
                            <div class="card-info">
                                <h3 class="text-22-bold">Document Expiry Notifications</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="workflow">
                            <div class="card-info">
                                <h3 class="text-22-bold">Automated Workflow Updates</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="messaging">
                            <div class="card-info">
                                <h3 class="text-22-bold">Inbuilt Messaging/Video Services</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="progress">
                            <div class="card-info">
                                <h3 class="text-22-bold">Real Time Progress Notifications</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="exchange">
                            <div class="card-info">
                                <h3 class="text-22-bold">Document Exchange Portal</h3>
                            </div>
                        </div>
                        <div class="card-feature-2" data-feature-target="cashback">
                            <div class="card-info">
                                <h3 class="text-22-bold">Cashback Portal</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <p class="cta-text">
                    <a href="{{ path('app_jobs') }}" class="th-btn">
                        Search Jobs
                    </a>
                </p>
            </div>
        </div>
    </section>

    <section class="section box-our-features ">
        <div class="lm-container">
            <div class="text-heading-wrap text-center">
                <h2 class="text-heading">
                    Benefits of Providers
                </h2>
            </div>
            <div class="row" style="min-height:220px;">
                <div class="col-lg-4 col-sm-6">
                    <div class="card-feature">
                        <div class="card-header-flex">
                            <div class="card-icon-svg">
                                <svg fill="currentcolor" height="48px" width="48px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                    viewBox="0 0 487.7 487.7" xml:space="preserve">
                                <g>
                                    <path d="M352.8,184.05H23.3c-12.9,0-23.3,10.4-23.3,23.3v186.3c0,12.9,10.4,23.3,23.3,23.3h329.5c12.9,0,23.3-10.4,23.3-23.3
                                        v-186.3C376.1,194.45,365.6,184.05,352.8,184.05z M348.3,350.55c-1.9-0.3-3.8-0.5-5.8-0.5c-18.2,0-33,14.8-33,33
                                        c0,2.1,0.2,4.1,0.6,6.1H68.7c0.2-1.3,0.3-2.7,0.3-4.1c0-18.2-14.8-33-33-33c-2.8,0-5.6,0.4-8.2,1v-101.2c2.6,0.7,5.3,1,8.2,1
                                        c18.2,0,33-14.8,33-33c0-2.8-0.4-5.5-1-8h242.1c-0.4,2-0.6,4-0.6,6.1c0,18.2,14.8,33,33,33c2,0,3.9-0.2,5.8-0.5V350.55z
                                        M431.7,159.85v168.1c0,3.1-0.4,6.1-1.3,9c-4.3,14.8-26.5,11.1-26.5-4.3v-10.3v-152.1c0-8.2-6.7-14.9-14.9-14.9H93.2h-9.8h-0.2
                                        c-15.4,0-19.1-22.2-4.3-26.5c2.9-0.8,5.9-1.3,9-1.3h311.3C417.2,127.45,431.7,141.95,431.7,159.85z M487.7,103.15v168.1
                                        c0,3.1-0.4,6.1-1.3,9c-4.3,14.8-26.5,11.1-26.5-4.3l0,0v-10.3v-152.2c0-8.2-6.7-14.9-14.9-14.9H149.1h-9.8h-0.2
                                        c-15.4,0-19.1-22.2-4.3-26.5c2.9-0.8,5.9-1.3,9-1.3h311.3C473.2,70.75,487.7,85.25,487.7,103.15z M309.8,300.25
                                        c0,10.9-8.8,19.7-19.7,19.7c-10.9,0-19.7-8.8-19.7-19.7c0-10.9,8.8-19.7,19.7-19.7C301,280.55,309.8,289.35,309.8,300.25z
                                        M103.3,300.25c0,10.9-8.8,19.7-19.7,19.7c-10.9,0-19.7-8.8-19.7-19.7c0-10.9,8.8-19.7,19.7-19.7
                                        C94.5,280.55,103.3,289.35,103.3,300.25z M186.9,229.25c-39.2,0-71,31.8-71,71s31.8,71,71,71s71-31.8,71-71
                                        S226.1,229.25,186.9,229.25z M186.9,341.35c-22.7,0-41.1-18.4-41.1-41.1s18.4-41.1,41.1-41.1s41.1,18.4,41.1,41.1
                                        S209.5,341.35,186.9,341.35z"/>
                                </g>
                                </svg>
                            </div>
                            <h6>Maximized Savings</h6>
                        </div>
                        <div class="card-content-wrap">
                            <p>
                                You receive maximum earnings from the employer since the service fee for the
                                platform is nominal.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card-feature">
                        <div class="card-header-flex">
                            <div class="card-icon-svg">
                                <svg width="48px" height="48px" viewBox="0 0 32 32" id="svg5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">

                                <defs id="defs2"/>

                                <g id="layer1" transform="translate(-204,-292)">

                                <path d="m 232.41992,306.89453 c -0.6421,0 -1.28402,0.24106 -1.76758,0.72461 l -2.93359,2.93555 c -0.32488,-0.51292 -0.83067,-0.91277 -1.45508,-1.08008 l -6.92383,-1.85547 c -0.55182,-0.14786 -1.12242,-0.17564 -1.67578,-0.0918 -0.55336,0.0839 -1.08901,0.27929 -1.57226,0.58399 l -4.32227,2.72656 -0.34961,-0.60742 c -0.4354,-0.75414 -1.43531,-1.02134 -2.18945,-0.58594 l -3.28711,1.89649 c -0.75414,0.4354 -1.02134,1.43531 -0.58594,2.18945 l 4.89844,8.48242 c 0.4354,0.75414 1.43336,1.02329 2.1875,0.58789 l 3.28711,-1.89844 c 0.75414,-0.4354 1.02329,-1.43531 0.58789,-2.18945 l -0.0645,-0.11328 1.87304,-1.26563 6.89063,1.35547 c 0.94431,0.18564 1.78846,-0.0778 2.46094,-0.76562 2.22251,-2.27326 4.44782,-4.53621 6.70507,-6.76367 a 1.0001,1.0001 0 0 0 0.006,-0.004 c 0.96711,-0.96711 0.96711,-2.57 0,-3.53711 -0.48355,-0.48355 -1.12742,-0.72461 -1.76953,-0.72461 z m 0,1.98242 c 0.12473,0 0.24946,0.0522 0.35352,0.15625 0.20811,0.20811 0.20811,0.50088 0,0.70899 -2.26956,2.23973 -4.50139,4.51118 -6.72461,6.78515 -0.0408,0.0418 -0.58764,0.21041 -0.64453,0.19922 l -7.29883,-1.43359 a 1.0001,1.0001 0 0 0 -0.75391,0.15234 l -2.09961,1.41992 -2.48047,-4.29492 4.38672,-2.76562 c 0.49575,-0.31258 1.09797,-0.40559 1.66407,-0.25391 l 6.92382,1.85547 c 0.28427,0.0762 0.42969,0.32902 0.35352,0.61328 -0.0762,0.28425 -0.32903,0.42968 -0.61328,0.35352 l -4.34571,-1.16407 a 1,1 0 0 0 -1.2246,0.70704 1,1 0 0 0 0.70703,1.2246 l 4.3457,1.16407 c 0.97582,0.26147 1.98681,-0.10874 2.5918,-0.85157 a 1,1 0 0 0 0.26367,-0.17578 l 4.24219,-4.24414 c 0.10405,-0.10405 0.22878,-0.15625 0.35351,-0.15625 z m -22.5332,2.69727 0.48437,0.83984 a 1,1 0 0 0 0.13868,0.40039 1,1 0 0 0 0.23828,0.25196 l 3.63867,6.30273 -2.59766,1.5 -4.5,-7.79492 z" id="path453469" style="fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>

                                <path d="m 224,301.01367 a 1,1 0 0 0 -1,1 1,1 0 0 0 1,1 h 2 a 1,1 0 0 0 1,-1 1,1 0 0 0 -1,-1 z" id="path453459" style="fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>

                                <path d="m 224,297.01367 a 1,1 0 0 0 -1,1 1,1 0 0 0 1,1 h 2 a 1,1 0 0 0 1,-1 1,1 0 0 0 -1,-1 z" id="path453437" style="fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>

                                <path d="m 225,293.01367 c -3.85414,0 -7,3.14587 -7,7 0,3.85415 3.14586,7 7,7 3.85414,0 7,-3.14585 7,-7 0,-3.85413 -3.14586,-7 -7,-7 z m 0,2 c 2.77327,0 5,2.22674 5,5 0,2.77327 -2.22673,5 -5,5 -2.77327,0 -5,-2.22673 -5,-5 0,-2.77326 2.22673,-5 5,-5 z" id="rect18334" style="fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>

                                </g>

                                </svg>
                            </div>
                            <h6>Cash Back Opportunities</h6>
                        </div>
                        <div class="card-content-wrap">
                            <p>
                                You get the cash back opportunity where you are equal partner to the platform.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card-feature">
                        <div class="card-header-flex">
                            <div class="card-icon-svg">
                                <svg version="1.1" id="buddhism" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="48px" height="48px" viewBox="0 0 256 256"
                                    xml:space="preserve">
                                <style type="text/css">
                                </style>
                                <path class="st0" d="M71.034,256.465c-2.302,0-4.495-0.117-6.369-0.227c-8.569-0.504-15.617-4.424-19.849-11.035
                                    c-4.659-7.281-5.226-16.826-1.555-26.188c6.794-17.356,12.62-35.619,18.253-53.281c1.438-4.51,2.876-9.021,4.332-13.521
                                    c0.846-2.635,1.273-6.05,1.264-10.13c-0.101-26.331,12.222-44.099,35.737-51.703c-0.233-0.378-0.444-0.771-0.631-1.179
                                    c-14.678-32.08-6.553-61.514,22.876-82.879c1.887-1.37,4.106-2.053,6.323-2.053c2.3,0,4.599,0.735,6.522,2.202
                                    c14.037,10.696,23.131,23.141,27.025,36.989c4.063,14.451,2.396,30.076-4.955,46.44c-0.115,0.259-0.24,0.513-0.379,0.76
                                    c26.906,7.901,33.535,30.45,36.352,51.82c2.088,15.852,6.291,31.322,10.742,47.703c1.801,6.623,3.657,13.465,5.35,20.283
                                    c6.328,5.813,9.945,12.801,10.256,19.883c0.273,6.303-2.18,12.342-6.912,17.006c-5.967,5.883-14.542,6.789-21.434,7.521
                                    c-2.267,0.24-4.403,0.469-6.155,0.82c-0.999,0.195-1.976,0.289-2.966,0.289c-2.687,0-5.039-0.682-6.576-1.192
                                    c-15.387-5.094-31.15-7.68-46.838-7.68c-15.691,0-31.856,2.587-48.044,7.688C79.806,255.938,75.877,256.465,71.034,256.465z
                                    M95.476,187.232c0.955-1.021,1.684-2.104,2.185-3.237c0.776-1.761,1.267-4.25,0.98-7.747
                                    C97.587,179.904,96.533,183.563,95.476,187.232z M163.494,175.662c-0.25,2.852,0.027,5.287,0.84,7.302
                                    c0.501,1.245,1.268,2.445,2.297,3.599C166.631,186.563,164.252,178.296,163.494,175.662z"/>
                                <path class="st1" d="M112.004,84.725c-12.733-27.83-5.768-51.412,19.412-69.692c23.947,18.246,31.634,41.851,18.777,70.457
                                    c-2.207,0.965-5.988,1.597-7.811,3.827c-0.876,1.076,1.453,5.535,3.229,7.753c1.242,1.553,3.904,2.307,6.066,2.729
                                    c24.413,4.748,30.682,21.686,33.631,44.092c3.105,23.592,10.76,46.598,16.482,69.846c0.322,1.287,0.832,2.818,1.773,3.597
                                    c7.742,6.397,11.215,15.541,4.293,22.36c-4.67,4.604-14.574,3.929-22.162,5.457c-1.254,0.244-2.752-0.146-4.016-0.563
                                    c-33.843-11.203-67.619-10.729-101.517-0.044c-4.614,1.452-9.938,1.242-14.874,0.953c-12.079-0.71-16.328-11.547-12.013-22.553
                                    c8.641-22.07,15.507-44.846,22.806-67.418c1.364-4.248,1.797-8.974,1.786-13.467c-0.089-23.049,10.305-37.377,33.232-42.813
                                    c3.604-0.854,6.112-6.289,9.129-9.606C117.433,88.401,115.554,86.844,112.004,84.725z M78.728,206.494
                                    c33.931-7.786,39.399-26.844,18.424-63.945C90.84,164.455,85.028,184.609,78.728,206.494z M183.748,207.139
                                    c-6.411-22.307-12.257-42.582-18.566-64.568C144.116,178.82,149.118,197.223,183.748,207.139z"/>
                                </svg>
                            </div>
                            <h6>Peace of Mind</h6>
                        </div>
                        <div class="card-content-wrap">
                            <p>
                                You can book flights and hotels of your choice and save more money for yourself.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center" style="margin-top:80px">
                <p class="cta-text">
                    <a href="#" class="th-btn">
                        Watch Video
                    </a>
                </p>
            </div>
        </div>
    </section>

    <section class="section section-faq">
        <div class="lm-container">
            <div class="section-header">
                <h2 class="text-heading">Frequently Asked Questions</h2>
            </div>
            <div class="row">
                <div class="col-lg-5 mb-4">
                    <div class="text-heading-wrap">
                        <h2 class="text-heading">
                            Do you have any <br> questions?
                        </h2>
                        <p class="cta-text">
                            If you have any more questions, please
                            <a href="{{ path('app_contact') }}" class="text-underline" style="font-weight:600;">Contact Us</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="accordion-wrapper">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                What is a cash back opportunity and how does it work?
                            </h2>
                            <div class="accordion-body">
                                For jobs that are not tagged along with the recruiter, candidates are directly
                                accessed by the employers
                                which saves the recruiter fees and the heavy cost of running a locum agency. We
                                share this margin with you up to equal partnership
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                How does cash back grow later?
                            </h2>
                            <div class="accordion-body">
                                The more the hires at this site, the higher will be the cash back margin for the
                                providers.
                                As our overhead costs will be covered by
                                greater margins, we can share more profit with you. This will help us grow together.
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                How is it different from traditional locum agencies?
                            </h2>

                            <div class="accordion-body">
                                This company is formed to eliminate the barriers that are existent currently in
                                finding the right
                                job. There is no required obligations like regular locum companies, nor is there a
                                high commission fees.
                                You have the freedom to choose your own place to stay and handle your own costs
                                while getting higher pay.
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                Can I work with freelance recruiters?
                            </h2>
                            <div class="accordion-body">
                                For jobs that are listed with recruiters by the employers, you would be working with
                                the freelance recruiters who are assigned for each job postings.
                                For direct jobs, you will be dealing with the facilities employed by recruiters.
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingten">
                                What can I post in the lounge section?
                            </h2>
                            <div class="accordion-body">
                                This section is designed to help the health care professionals literally ‘lounge’
                                and share their stories. We aim to
                                provide a better networking section to help support and boost health care
                                professionals' mental health as well.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="video_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-contents">
                <div class="quick-video">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/XHOmBV4js_E?si=Lha95c_abxfd9lnG"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const featureCards = document.querySelectorAll('.card-feature-2');
    const featureImages = document.querySelectorAll('.feature-image');

    featureCards.forEach(card => {
        card.addEventListener('mouseenter', function() {
            // Remove active classes from all images and h3s
            featureImages.forEach(img => img.classList.remove('active-image'));
            featureCards.forEach(h3 => h3.classList.remove('active-h3'));

            // Get the target image ID from the data attribute
            const targetId = this.getAttribute('data-feature-target');
            const targetImage = document.getElementById(`img-${targetId}`);
            
            // Add active class to the hovered h3 and the corresponding image
            if (targetImage) {
                targetImage.classList.add('active-image');
                this.classList.add('active-h3');
            }
        });
    });
});
</script>

{% endblock %}