{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block admin_body %}
    <div class="container-xl">
        <div class="application-sticky">
            <div class="row g-4 mb-4">
            <div class="col-6 col-lg-3">
                <div class="app-card app-card-stat shadow-sm h-100 is-hired is-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h4 class="stats-type mb-1">Providers</h4>
                        <div class="stats-figure">{{ totalProviders|number_format }}</div>
{#                        <div class="stats-meta text-success">#}
                            {#                                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> #}
                            {#                                      <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/> #}
                            {#                                  </svg> 20% #}
{#                        </div>#}
                    </div><!--//app-card-body-->
                    <a class="app-card-link-mask" href="{{ path('app_admin_providers') }}"></a>
                </div><!--//app-card-->
            </div><!--//col-->

            <div class="col-6 col-lg-3">
                <div class="app-card app-card-stat shadow-sm h-100 is-offered is-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h4 class="stats-type mb-1">Employers</h4>
                        <div class="stats-figure">{{ totalEmployers|number_format }}</div>
{#                        <div class="stats-meta text-success">#}
                            {#                                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> #}
                            {#                                      <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/> #}
                            {#                                  </svg> 5% #}
{#                        </div>#}
                    </div><!--//app-card-body-->
                    <a class="app-card-link-mask" href="{{ path('app_admin_employers') }}"></a>
                </div><!--//app-card-->
            </div><!--//col-->
            <div class="col-6 col-lg-3">
                <div class="app-card app-card-stat shadow-sm h-100 is-applied is-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h4 class="stats-type mb-1">Jobs</h4>
                        <div class="stats-figure">{{ totalJobs|number_format }}</div>
                        {#                              <div class="stats-meta">Open</div> #}
                    </div><!--//app-card-body-->
                    <a class="app-card-link-mask" href="{{ path('app_admin_jobs') }}"></a>
                </div><!--//app-card-->
            </div><!--//col-->
            <div class="col-6 col-lg-3">
                <div class="app-card app-card-stat shadow-sm h-100 is-interview is-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h4 class="stats-type mb-1">Applications</h4>
                        <div class="stats-figure">{{ totalApplications|number_format }}</div>
                        {#                              <div class="stats-meta">New</div> #}
                    </div><!--//app-card-body-->
                    <a class="app-card-link-mask" href="{{ path('app_admin_applications') }}"></a>
                </div><!--//app-card-->
            </div><!--//col-->
        </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="app-card app-card-stats-table h-100 shadow-sm">
                    <div class="app-card-header p-3">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h4 class="app-card-title">Notifications</h4>
                            </div>
                            <div class="col-auto">
                                <div class="card-header-action">
                                    <a href="{{ path('app_admin_notifications') }}">View all</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-card-body p-3 p-lg-4">
                        <div class="table-responsive">
                            {% if notifications|length > 0 %}
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                    {% for notification in notifications %}
                                        <tr>
                                            <td>{{ notification.message }}</td>
                                            <td>{{ notification.createdAt|ago }}</td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Notifications not found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_scripts %}
    <script src="{{ asset('assets/admin/plugins/chart.js/chart.min.js') }}"></script>
{% endblock %}