{% extends 'admin/base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block admin_body %}
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Profile</h3>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <p>Name: {{ user.name }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Phone1: {{ user.phone1 }}</p>
                <p>Phone2: {{ user.phone2 }}</p>
                <p>Gender: {{ user.gender }}</p>
            </div>
        </div>
    </section>
{% endblock %}