<footer class="site-footer ">
    <div class="lm-container">
        <div class="row ">
            <div class="col-sm-3  footer-contact-info">
                <p >
                    <a href="mailto:{{ getConfig('office_email') }}">
                        {{ getConfig('office_email') }}
                    </a>
                </p>

            </div>

            <div class="col-sm-3 ">
                <h4 class="footer-title">For Providers</h4>
                <ul class="footer-links">
                    <li  ><a href="{{ path('app_jobs') }}">Search jobs</a></li>
                    <li  ><a href="{{ path('app_register') }}">Sign up</a></li>
                </ul>
                <h4   class="footer-title">For Employers</h4>
                <ul class="footer-links">
                    <li>
                        <a href="{{ path('app_employer_jobs') }}">Post jobs</a>
                    </li>
                    <li  ><a href="{{ path('app_register') }}">Sign up</a></li>
                </ul>
            </div>
            <div class="col-sm-3 ">
                <h4   class="footer-title">Company</h4>
                <ul  class="footer-links">
                    <li  ><a href="{{ path('app_for_providers') }}">Providers</a></li>
                    <li  ><a href="{{ path('app_for_employers') }}">Employers</a></li>
                    <li  ><a href="{{ path('app_about') }}">About Us</a></li>
                    <li  ><a href="{{ path('app_contact') }}">Contact Us</a></li>
                    <li  ><a href="{{ path('app_resources') }}">Resources</a></li>
                </ul>
            </div>
            <div  class="col-sm-3 ">
                <h4 class="footer-title">Connect with us</h4>
                <div class=" footer-social-icon-wrap">
                    <a href="{{ getConfig('facebook_url') }}" target="_blank" class="social_link fab fa-facebook-f "></a>
                    <a href="{{ getConfig('witter_url') }}" target="_blank" class="social_link fab">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                            <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
                        </svg>
                    </a>
                    <a href="{{ getConfig('instagram_url') }}" target="_blank" class="social_link fab fa-instagram "></a>
                    <a href="{{ getConfig('linkedin_url') }}" target="_blank" class="social_link fab fa-linkedin "></a>
                    <a href="{{ getConfig('youtube_url') }}" target="_blank" class="social_link fab fa-youtube "></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p  class="text-center small">© 2025 {{ getConfig('brand_name') }}</p>
            <a class="text-link" href="{{ path('app_privacy_policy') }}">Privacy Policy</a>
            <a class="text-link" href="{{ path('app_terms_and_conditions') }}">Terms and Conditions</a>
        </div>
    </div>
</footer>
