{% extends 'admin/base.html.twig' %}

{% block title %}Employer Detail{% endblock %}

{% block admin_body %}
<div class="container-xl">

    <h1 class="app-page-title">Employer Detail</h1>

    <div class="mb-4">
        {% if user.blocked == false %}
            <a href="{{ path('app_admin_employer_block', {'id': user.id}) }}" title="Block">
                <img src="{{ asset('assets/icons/sign.png') }}" class="icon-image" />
            </a>
        {% else %}
            <a href="{{ path('app_admin_employer_block', {'id': user.id}) }}" title="Unblock">
                <img src="{{ asset('assets/icons/unlocked.png') }}" class="icon-image" />
            </a>
        {% endif %}
    </div>

    <h5>Personal Information</h5>
    <div class="table-row">
        <div class="job-row">
            <div class="job-label">Name</div>
            <div class="job-value">{{ user.name }}</div>
        </div>
        <div class="job-row">
            <div class="job-label">Email</div>
            <div class="job-value">{{ user.email }}</div>
        </div>
        <div class="job-row">
            <div class="job-label">Address</div>
            <div class="job-value">{{ employer.address }}</div>
        </div>
    </div>

    <div class="mb-4"></div>

    <h5>Company Information</h5>
    <div class="table-row">
        <div class="job-row">
            <div class="job-label">Company Name</div>
            <div class="job-value">{{ employer.companyName }}</div>
        </div>
        <div class="job-row">
            <div class="job-label">Contact Person Name</div>
            <div class="job-value">{{ employer.contactPersonName }}</div>
        </div>
        <div class="job-row">
            <div class="job-label">Contact Email</div>
            <div class="job-value">{{ employer.contactEmail }}</div>
        </div>
        <div class="job-row">
            <div class="job-label">Phone 1</div>
            <div class="job-value">{{ employer.phone1 }}</div>
        </div>
        <div class="job-row">
            <div class="job-label">Phone 2</div>
            <div class="job-value">{{ employer.phone2 }}</div>
        </div>
    </div>

</div>
{% endblock %}