{% import "admin/config/macros.html.twig" as forms %}

{% extends 'admin/base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block admin_body %}

    <div class="container-xl">
        <h1 class="app-page-title">Settings</h1>
        <hr class="mb-4">
        <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="row g-4 settings-section">
                <div class="col-12 col-md-3">
                    <h3 class="section-title">General</h3>
                    <div class="section-intro">General settings</div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="app-card app-card-settings shadow-sm p-4">

                        <div class="app-card-body">
                            <div class="mb-3">
                                {{ forms.input('Brand Name', 'brand_name', getConfig('brand_name', ''), null, 'Brand Name') }}
                            </div>

                            <div class="mb-3">
                                {{ forms.input('Legal Name', 'legal_name', getConfig('legal_name', ''), null, 'Legal Name') }}
                            </div>

                            <div class="mb-3">
                                {{ forms.input('Slogan', 'slogan', getConfig('slogan', ''), null, 'Slogan') }}
                            </div>

                            <div class="mb-3">
                                {{ forms.input('Brand Logo','brand_logo', getConfig('brand_logo', ''), 'file', 'Brand Image') }}

                                <img src="{{ getConfig('brand_logo', null) }}" alt="{{ getConfig('brand_name') }}"
                                     width="200"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">

            <div class="row g-4 settings-section">
                <div class="col-12 col-md-3">
                    <h3 class="section-title">Notifications</h3>
                    <div class="section-intro">Notification settings</div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="app-card app-card-settings shadow-sm p-4">
                        <div class="app-card-body">
                            {{ forms.input('Notification Receiving Emails', 'notification_receiving_emails', getConfig('notification_receiving_emails', ''), null, 'Notification Receiving Emails') }}
                            <i>* For multiple email address separate with comma (,)</i>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">

            <div class="row g-4 settings-section">
                <div class="col-12 col-md-3">
                    <h3 class="section-title">Contact</h3>
                    <div class="section-intro">Contact information</div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="app-card app-card-settings shadow-sm p-4">

                        <div class="app-card-body">
                            <div class="mb-3">
                                {{ forms.input('Office Address','office_address', getConfig('office_address', ''), 'textarea', 'Office Address') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Office Email','office_email', getConfig('office_email', ''), null, 'Office Email') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Office Phone 1','office_phone1', getConfig('office_phone1', ''), null, 'Office Phone1') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Office Phone 2','office_phone2', getConfig('office_phone2', ''), null, 'Office Phone2') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Office Google Map','office_google_map', getConfig('office_google_map', ''), 'textarea', 'Office Google Map') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">

            <div class="row g-4 settings-section">
                <div class="col-12 col-md-3">
                    <h3 class="section-title">Meta Tags</h3>
                    <div class="section-intro">Meta tags for better SEO</div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="app-card app-card-settings shadow-sm p-4">

                        <div class="app-card-body">
                            <div class="mb-3">
                                {{ forms.input('Meta Title','meta_title', getConfig('meta_title', ''), null, 'Meta Title') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Meta Keywords','meta_keywords', getConfig('meta_keywords', ''), 'textarea', 'Meta Keywords') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Meta Description','meta_description', getConfig('meta_description', ''), 'textarea', 'Meta Description') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">

            <div class="row g-4 settings-section">
                <div class="col-12 col-md-3">
                    <h3 class="section-title">Social</h3>
                    <div class="section-intro">Social links</div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="app-card app-card-settings shadow-sm p-4">

                        <div class="app-card-body">
                            <div class="mb-3">
                                {{ forms.input('Facebook','facebook_url', getConfig('facebook_url', ''), null, 'Facebook URL') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Twitter','twitter_url', getConfig('twitter_url', ''), null, 'Twitter URL') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Instagram','instagram_url', getConfig('instagram_url', ''), null, 'Instagram URL') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Linkedin','linkedin_url', getConfig('linkedin_url', ''), null, 'Linkedin URL') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Youtube','youtube_url', getConfig('youtube_url', ''), null, 'Youtube URL') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">

            <div class="row g-4 settings-section">
                <div class="col-12 col-md-3">
                    <h3 class="section-title">Scripts</h3>
                    <div class="section-intro">Scripts for integration with third parties</div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="app-card app-card-settings shadow-sm p-4">

                        <div class="app-card-body">
                            <div class="mb-3">
                                {{ forms.input('Google Analytics Code','google_analytics_code', getConfig('google_analytics_code', ''), 'textarea', 'Google Analytics Code') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Custom Header Script','custom_header_script', getConfig('custom_header_script', ''), 'textarea', 'Custom Header Script') }}
                            </div>
                            <div class="mb-3">
                                {{ forms.input('Custom Footer Script','custom_footer_script', getConfig('custom_footer_script', ''), 'textarea', 'Custom Footer Script') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">

            <div class="row g-4 settings-section">
                <div class="col-12 col-md-4"></div>
                <div class="col-12 col-md-8">
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block footer_scripts %}
    <link href="//cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="//cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

    <script>
        $('.select2').select2();
    </script>
{% endblock %}

