{% extends 'admin/base.html.twig' %}

{% block title %}Paid Invoices{% endblock %}

{% block admin_body %}
    <div class="container-xl">

        <h1 class="app-page-title">Paid Invoices</h1>

        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Job</th>
                    <th>Employer</th>
                    <th>Provider</th>
                    <th>Particular</th>
                    <th>Amount($)</th>
                    <th>CreatedAt</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>
                            <a href="{{ path('app_admin_invoice_show', {'id': invoice.id}) }}">
                                {{ invoice.invoiceNumber }}
                            </a>
                        </td>
                        <td>{{ invoice.job }}</td>
                        <td>{{ invoice.employer }}</td>
                        <td>{{ invoice.provider }}</td>
                        <td>{{ invoice.particular }}</td>
                        <td>{{ invoice.amount|number_format }}</td>
                        <td>{{ invoice.createdAt ? invoice.createdAt|date('m/d/Y') : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
