{% extends 'base.html.twig' %}

{% block title %}Onboard{% endblock %}

{% block body %}
    <h3>Onboarding</h3>
    <p><b>Step 2:</b> Fill your company information.</p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.phone1) }}
                {{ form_widget(form.phone1, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.phone1) }}
            </div>

            <div class="form-group">
                {{ form_label(form.phone2) }}
                {{ form_widget(form.phone2, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.phone2) }}
            </div>

            <div class="form-group">
                {{ form_label(form.address) }}
                {{ form_widget(form.address, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.address) }}
            </div>

            <div class="form-group">
                {{ form_label(form.website) }}
                {{ form_widget(form.website, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.website) }}
            </div>
        </div>
    </div>

    <br/>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}
