{{ form_start(form, {'attr': {'id': 'addExperienceForm', 'class': 'license-form needs-validation', 'novalidate': 'novalidate'}}) }}
<div class="row">
    <div class="col">
        {{ form_row(form.title, {'attr': {'class': 'form-control mb-2'}}) }}
        {{ form_row(form.employmentType, {'attr': {'class': 'form-control mb-2'}}) }}
        {{ form_row(form.company, {'attr': {'class': 'form-control mb-2'}}) }}
        {{ form_row(form.startDate, {'attr': {'class': 'form-control mb-2 js-datepicker'}}) }}
        {{ form_row(form.endDate, {'attr': {'class': 'form-control mb-2 js-datepicker'}}) }}
    </div>
    <div class="col">
        {{ form_row(form.location, {'attr': {'class': 'form-control mb-2'}}) }}
        {{ form_row(form.locationType, {'attr': {'class': 'form-control mb-2'}}) }}
        {{ form_row(form.description, {'attr': {'class': 'form-control mb-2', 'rows': 7}}) }}
    </div>
</div>

<br/>
<button type="submit" class="btn btn-primary">Save</button>
{#<button type="submit" name="save_continue" data-redirect-url="{{ path('app_provider_insurance_index') }}" class="btn btn-primary">Save and Continue</button>#}
{{ form_end(form) }}