{% extends 'admin/base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block admin_body %}

    <div class="container-xl">
        <h1 class="app-page-title">Profile</h1>

        <hr class="mb-4">

        <div class="col-md-6 col-sm-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="mb-3">
                {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.name, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.profilePictureFilename, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.profilePictureFilename, {'attr':{'class': 'file'}}) }}
                {{ form_errors(form.profilePictureFilename) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.gender, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.gender, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.gender) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.phone1, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.phone1, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.phone1) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.phone2, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.phone2, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.phone2) }}
            </div>

            <button class="btn btn-primary mt-2">{{ button_label|default('Save') }}</button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}